VITE_SUPABASE_URL=sua_url_do_supabase
VITE_SUPABASE_ANON_KEY=sua_chave_anon_do_supabase

SUPABASE_URL=sua_url_do_supabase
SUPABASE_ANON_KEY=sua_chave_anon_ou_publishable_do_supabase
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_apenas_no_supabase

IGDB_CLIENT_ID=seu_client_id_twitch_igdb
IGDB_CLIENT_SECRET=seu_client_secret_twitch_igdb
