-- Script SQL para criar as tabelas avaliacoes e comentarios
-- Execute este script no SQL Editor do Supabase

-- Tabela de avaliações
CREATE TABLE IF NOT EXISTS avaliacoes (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  usuario_id UUID REFERENCES usuarios(id) ON DELETE CASCADE,
  jogo_id INTEGER REFERENCES jogos(id) ON DELETE CASCADE,
  nota INTEGER CHECK (nota >= 1 AND nota <= 10),
  texto_review TEXT,
  curtidas INTEGER DEFAULT 0,
  data_publicacao TIMESTAMP DEFAULT NOW(),
  editado_em TIMESTAMP
);

-- Tabela de comentários
CREATE TABLE IF NOT EXISTS comentarios (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  usuario_id UUID REFERENCES usuarios(id) ON DELETE CASCADE,
  review_id UUID REFERENCES avaliacoes(id) ON DELETE CASCADE,
  texto TEXT NOT NULL,
  data_comentario TIMESTAMP DEFAULT NOW(),
  editado_em TIMESTAMP
);

-- Habilitar Row Level Security
ALTER TABLE avaliacoes ENABLE ROW LEVEL SECURITY;
ALTER TABLE comentarios ENABLE ROW LEVEL SECURITY;

-- Políticas de segurança para avaliacoes
-- Todos podem ver as avaliações
CREATE POLICY "Users can view all reviews" ON avaliacoes
  FOR SELECT USING (true);

-- Usuários podem inserir suas próprias avaliações
CREATE POLICY "Users can insert their own reviews" ON avaliacoes
  FOR INSERT WITH CHECK (auth.uid() = usuario_id);

-- Usuários podem atualizar suas próprias avaliações
CREATE POLICY "Users can update their own reviews" ON avaliacoes
  FOR UPDATE USING (auth.uid() = usuario_id);

-- Usuários podem deletar suas próprias avaliações
CREATE POLICY "Users can delete their own reviews" ON avaliacoes
  FOR DELETE USING (auth.uid() = usuario_id);

-- Políticas de segurança para comentarios
-- Todos podem ver os comentários
CREATE POLICY "Users can view all comments" ON comentarios
  FOR SELECT USING (true);

-- Usuários podem inserir seus próprios comentários
CREATE POLICY "Users can insert their own comments" ON comentarios
  FOR INSERT WITH CHECK (auth.uid() = usuario_id);

-- Usuários podem atualizar seus próprios comentários
CREATE POLICY "Users can update their own comments" ON comentarios
  FOR UPDATE USING (auth.uid() = usuario_id);

-- Usuários podem deletar seus próprios comentários
CREATE POLICY "Users can delete their own comments" ON comentarios
  FOR DELETE USING (auth.uid() = usuario_id);
